$light-color: #f9f4f0;
$dark-color: #191501;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: 'argaka';
  src: url('./ArgakaFashion.woff') format('woff'),
    url('./ArgakaFashion.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0
}
main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100vh;
  max-height: 100%;
  background-color: $dark-color;
  p:first-child {
    font-family: 'Outfit';
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 3rem;
    font-size: 2rem;
    color: wheat;
    mix-blend-mode: color-dodge;
  }
}
.dot-online {
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: -30px;
  color: #aaa;
  @media screen and (max-width: 400px) {
    margin-bottom: -10px;
  }
}
.dot {
  height: .5rem;
  width: .5rem;
  background-color: #6fd13a;
  display: inline-block;
  border-radius: 100px;
  margin-right: .5rem;
  + small {
    font-family: sans-serif;
  }
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: .1;
  filter: sepia(1);
}

.main-title {
  font-family: 'argaka';
  font-size: 12rem;
  margin: 0;
  color: #fff;
  mix-blend-mode: color-dodge;
  @media screen and (max-width: 700px) {
    font-size: 9rem;
  }
  @media screen and (max-width: 400px) {
    font-size: 5rem;
  }
  // text-align: center;
}

.counter-div {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  // padding: 24px 0;
}
.counter-element {
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.number-div {
  color: $light-color;
  border: 2px solid $light-color;
  border-radius: 0;
  width: 80px;
  padding: 12px 0;
  font-family: "Outfit", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
}
.element-text {
  font-family: "Outfit", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  color: $light-color;
  text-transform: uppercase;
  padding-top: .5rem;
}
.counter-animate {
  animation: slideInFromTop 0.5s ease-in-out;
}
.show {
  opacity: 1;
}
@media screen and (max-width: 450px) {
  .number-div {
    width: 60px;
  }
  .counter-div {
    gap: 5px;
  }
  .et-desktop {
    display: none;
  }
}
@media screen and (min-width: 451px) {
  .et-mobile {
    display: none;
  }
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-80%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
